@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor (Practice Assignment)";
}
@section banner{
<h1>Home Page for Razor Form Samples</h1>
}

<p>Hello World!!!!! AHHHHHH</p>

@section footer{
    &copy; CPSC1517 Nait, All Rights Reserved
    }