@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Single Query";

    var searcharg = Request.Form["searcharg"];
    var regionid = "";
    var description = "";

    // remember the 1st pass of the page, seatcharg will be null BUT for the database query it needs to be a number
    if (string.IsNullOrEmpty(searcharg))
    {
        searcharg = "0";
    }

    //open a connection to the database. Use the connection string name attribute value
    var db = Database.Open("NWDB");

    // create your SQL command that you wish to execute a placeholder @n will be used for the
    //  query argument. The query command can be coded on multiple physical lines
    var querycommand = "Select RegionID, RegionDescriptiob " + "FROM Region " + "WHERE RegionID = @0";

    // execute the sql query command against the database
    // .QuerySingle() used when you expect a single record to be returned
    // .Query() used when you expect 0, 1 or more record to be returned
    // .QueryValue used when you expect a single value (not record) to be returned
    var results = db.QuerySingle(querycommand, searcharg);
}

@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Database: Single Query</h1>
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-4">
            <label for="searcharg">Enter Region ID:</label>
            <input type="text" id="searcharg" name="searcharg" placeholder="enter region id" value="@searcharg" />
            <button type="submit" id="formbutton" name="formbutton" class="btn btn-primary" value="search">Search</button>
            &nbsp;&nbsp;
            <button type="submit" id="formbutton" name="formbutton" class="btn" value="clear">Clear</button>
        </div>
        <div class="col-md-8">
            <label for="regionID">Region ID:</label>
            <input type="text" id="regionid" name="regionid" value="@regionid" />
            <label for="regionID">Region Name:</label>
            <input type="text" id="description" name="description" value="@description" />
        </div>
    </div>
</form>
